body {
    background-color: whitesmoke;
}

.splash {
    height: 100vh;

}

.splashbuttons {
    vertical-align: baseline;
}

#navbar{
    background-color: whitesmoke;
}

a.google {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: #83c2e2;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

a.itchio {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: #F28123;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

#splash {
    background-image: url("splash.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 75vh;
}

#splash-content {
    justify-items: center;
}
